.semaforo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(65, 65, 109);
}

.rojo {
    background-color: rgb(201, 86, 86);
}

.verde {
    background-color: rgb(86, 201, 115);
}

.amarillo {
    background-color: rgb(201, 189, 86);
}