.decoradorInput {
    background-color: rgb(59, 105, 90);
}

.mainComponent {
    background-color: rgb(57, 68, 41);
}

.decoradorOutput {
    background-color: rgb(201, 142, 142);
}

.ngModel {
    background-color: rgb(72, 65, 158);
}

/* ------------------------- */
.ngModelObjeto {
    background-color: rgb(80, 69, 52);
}

.ngModelObjeto div input {
    margin: 5px 0;
}
/* ------------------------- */

.comunicacion {
    background-color: rgb(131, 130, 76);
}