section {
    background-color: rgb(143, 153, 120);
}

.btn {
    width: 100px;
    height: 50px;
    background-color: rgb(56, 155, 122);
    margin-right: 20px;
    line-height: 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.rutas {
    margin-top: 50px;
}

.template {
    background-color: rgb(150, 155, 84);
}

.model {
    background-color: rgb(84, 107, 155);
}
